<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Research</h3>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

        <tr>
          <td style="padding:20px;width:40%;text-align:center;vertical-align:middle">
            <img src = "https://github.com/lliu12/kirigami_sim/blob/master/media/penrose_expansion.gif?raw=true" width="150"/><img src = "https://github.com/lliu12/kirigami_sim/blob/master/media/penrose_hamiltonian.gif?raw=true" width="150"/> 
          </td>
          <td style="padding:20px;width:60%;vertical-align:middle">
            <p>Liu, L.*, Choi, G.*, & Mahadevan, L. Quasicrystal kirigami. Physical Review Research, 4(3), 033114, 2022.</p>
            <p><i>Editor's Suggestion.</i></p>
            [
            <a href="https://doi.org/10.1103/PhysRevResearch.4.033114">Paper</a> /
            <a href="https://github.com/lliu12/kirigami_sim">Code</a> ]
          </td>
        </tr>

        <tr>
          <td style="padding:20px;width:40%;text-align:center;vertical-align:middle">
            <img src = "https://raw.githubusercontent.com/kavyakvk/adversarial-environment-generation/pages/media/environment_screenshot_example.png?raw=true" width="120"/><img src = "https://raw.githubusercontent.com/kavyakvk/adversarial-environment-generation/pages/media/SwarmAgent_defaults_elite_evolution.gif?raw=true" width="100"/> 
          </td>
          <td style="padding:20px;width:60%;vertical-align:middle">
            <p>Kopparapu, K.*, Lin, E.*, & Liu, L.* <br> 
               Adversarial Environment Generation. December 2021.</p>
            [
            <a href="https://kavyakvk.github.io/adversarial-environment-generation/">Overview</a> /
            <a href="https://github.com/kavyakvk/adversarial-environment-generation/blob/main/Adversarial%20Environment%20Generation%20for%20Multi-Agent%20Evaluation.pdf">Paper</a> /
            <a href="https://github.com/kavyakvk/adversarial-environment-generation">Code</a> ]
          </td>
        </tr>

        <tr>
          <td style="padding:20px;width:40%;text-align:center;vertical-align:middle">
            <img src = "{{ site.github.url }}/assets/img/rlpe.png" width="150"/>
          </td>
          <td style="padding:20px;width:60%;vertical-align:middle">
            <p>Finkelstein, M., Keren, S., Levy Schlot, N., Liu, L., Kolumbus, Y., Rosenschein, J., Parkes, D. <br>
               Deep Reinforcement Learning Explanation via Model Transforms. NeurIPS Workshop on Deep Reinforcement Learning, December 2021.</p>
            [
            <a href="https://d95a4782-4ebd-4b0d-aa3a-24320cc2cc6d.filesusr.com/ugd/c1d2d0_5929426580784e77bd3e85f09b7aff29.pdf">Poster</a>
            ]
          </td>
        </tr>

        <tr>
          <td style="padding:20px;width:40%;text-align:center;vertical-align:middle">
            <img src = "{{ site.github.url }}/assets/img/animation_17_v3.gif" width="300"/>
          </td>
          <td style="padding:20px;width:60%;vertical-align:middle">
            <p>Liu, L.*, Choi, G.*, & Mahadevan, L. Wallpaper group kirigami. Proceedings of the Royal Society A. 477, 20210161, 2021.</p>
            [
            <a href="https://royalsocietypublishing.org/doi/full/10.1098/rspa.2021.0161#d1e5867">Paper</a>
            ]
          </td>
        </tr>


      </tbody></table>

    </td>
  </tr>
  </table>
  </div>
</div>


<div>
  <a href="https://github.com/LeNPaul/academic">Site template by Paul Le.</a>
</div>


<!-- <div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
</div> -->
