<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Writing</h3>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

        <tr>
          <td style="padding:20px;width:40%;text-align:center;vertical-align:middle">
            <img src = "https://media.wired.com/clips/63fe9376d35154c5a1728062/720p/pass/ideas_algorithm_optimize_behavior.mp4" width="250"/>
          </td>
          <td style="padding:20px;width:60%;vertical-align:middle">
            <p><a href="https://www.wired.com/story/i-asked-an-algorithm-to-optimize-my-life/">I Asked an Algorithm to Optimize My Life. Here's What Happened.</a><br>
              Wired, March 2023.</p>
            <p><i>In BBC's <a href="https://www.bbc.co.uk/sounds/play/m001xlz2">The Artificial Human</a></i></p>
          </td>
        </tr>

      </tbody></table>

    </td>
  </tr>
  </table>
  </div>
</div>

<!-- <div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
</div> -->
